html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
body  {
  background: #F4F4F4;
  margin: 0;
  }
  
  #container { 
  width: 780px;
  margin: 0 auto;
  background: #FFFFFF;
  }
  
  #header { 
  padding: 45px 0 20px 40px;
  } 
  
  #header a {
  color: #121212;
  text-decoration: none;
  font-size: 30px; 
  font-family: "Myriad Pro", "Arial Narrow";
  }
  
  #menu {
  background-color: #3b7687; 
  padding: 6px 0 6px 40px;
  }
  
  #menu a {
  color: #c5d6db;
  text-decoration: none; 
  font-size: 14px; 
  font-family: "Arial Narrow", "Myriad Pro";
  }
  
  #menu a:hover {
  color: #ecf2f3;
  }
  
  #sidebar {
  float: left;
  width: 120px;
  padding: 30px 0 0 40px;
  margin: 0;
  }
  
  h1 {
  margin: 0px;
  color: #869843; 
  font-size:24px; 
  font-family: "Arial Narrow", "Myriad Pro"; 
  font-weight: normal;
  }
  
  h2 {
  color: #3b7687;
  font-size: 15px; 
  margin: 0px 0 10px 0;
  }
  
  h3 {
    font-size: 0.9em;
  }
  
  p{
    margin: 0px 0px 20px 0px;
  }
  
  #main { 
  margin: 0 0 0 180px;
  padding: 35px 40px 30px 0;
  color: #444444;
  font-family: "Georgia";
  font-size: 16px; 
  line-height: 1.5;
  text-align: justify;
  } 
  
  #main a {
  color: #3b7687; 
  text-decoration: none;
  }
  
  #main a:hover {
  color: #444444;
  }
  
  #footer {
  padding: 6px 40px 6px 40px;
  background: #d6d6d6; 
  font-family: "Lucida Sans Unicode";
  color: #444444;
  font-size: 11px;
  text-align: right;
  }
  
  #footer a {
  text-decoration: none; 
  color: #262626;
  }
  
  #footer a:hover {
  color: #666666;
  }
  
  .separator {
  font-size:11px;
  color:#FFFFFF;
  }